
@{
    ViewData["Title"] = "DashBoard";
    int Count = 1;
}
@model ExpensesManagment.Web.Models.ViewModel.DashBoardViewModel


<div class="container .bg-gradient-secondary">
    <h1>DashBoard</h1>
        <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4 border-left-primary">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">
                                <div>
                                    Monthly income :@Model.MonthlyIncome
                                </div>
                                <div>
                                    Annual Income :@Model.AnnualIncome
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Expenses (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Monthly Expenses
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ExpensesMonthly</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Annual Expenses
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ExpensesAnnaul</div>

                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <!--<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>-->
                                </div>
                                <div class="col">
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Annaul Average Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Annual Average
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.Average</div>
                        </div>
                        <div class="col-auto">
                            <i class="bi bi-percent"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!------------------------------------>

    <div class="row shadow-sm " style="display:flex; height:350px; background-color:#F9F9ED; width:1270px; margin:0px; border-radius:30px;">

        <div class="col-6" style="padding-left: 0px; padding-right: 0px;">

            <div class="card-header" style="height: 43.888889px; border-top-left-radius:30px;">
                <h6 class="font-weight-bold text-primary">monthly Expenses</h6>
            </div>

            <div id="Monthly-chart-container" style="
            position: relative;
            height: 300px;
            overflow: hidden;"></div>
        </div>


        <div class="col-6" style="padding-left: 0px; padding-right: 0px;">

            <div class="card-header align-items-center" style="height: 43.888889px; border-top-right-radius:30px;">
                <h6 class="m-0 font-weight-bold text-primary">Yearly Expenses</h6>
            </div>

            <div id="Annual-chart-container" style="
            position: relative;
            height: 300px;
            overflow: hidden;"></div>

        </div>
    </div>
    <br />
    <!--********************************-->

    <div style="height:450px; width: 1270px; background-color:whitesmoke; border-radius:20px;" class="shadow-lg">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between" style="border-top-left-radius:20px; border-top-right-radius:20px;">

            <h6 class="m-0 font-weight-bold text-primary">Expenses</h6>

            <select style="background-color:#edede9; border-radius:10px;" id="optionselect">
                <option style="background-color:f5ebe0;" value="0">All</option>
                @foreach(var item in Model.categories)
                {
                    <option style="background-color:f5ebe0;" value="@item.Id">@item.Name</option>
                }
            </select>
            
        </div>
        <div id="container" style="height: 90%; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" _echarts_instance_="ec_1691059335994"><div style="position: relative; width: 1536px; height: 410px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas data-zr-dom-id="zr_0" width="1920" height="512" style="position: absolute; left: 0px; top: 0px; width: 1536px; height: 410px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 0px; margin: 0px; border-width: 0px;"></canvas></div></div>

        </div>
        <br />
    <!--++++++++++++++++++++++++++++++++-->
    <div style="background-color:#edede9 ; border-radius:30px; width:1270px;" class="shadow">
        
        <div class="card-header" style="height: 43.888889px; border-top-left-radius:30px; border-top-right-radius:30px;">
            <h6 class="font-weight-bold text-primary">
                Last Five Expenses
            </h6>
        </div>

        <div style="padding: 0px 10px 0px 10px">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Time</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.LastFiveExpenses)
                    {
                    <tr>
                    <td>@Count</td>
                    <td>
                    <span style="
                    height: 25px;
                    width: 25px;
                    background-color:@item.CategoryColor;
                    border-radius: 50%;
                    border:solid black 1px;
                    display: inline-block;"></span>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Cost</td>
                    <td>@item.Date</td>
                    <td>@item.Category</td>
                    </tr>
                    Count++;
                    }
                    


                </tbody>
            </table>
        </div>
    </div>

</div>

@section Scripts
{
    <script src="/js/DashBoard.js"></script>
    <script type="text/javascript">

       

        /////////////////////////////////////////////////

        ////////////////////////////////////////////////////////
        var YearlyByCategory = document.getElementById('chart-container2');
        var myChart = echarts.init(YearlyByCategory, null, {
            renderer: 'canvas',
            useDirtyRect: false
        });
        var app = {};

        var option;

        option = {
            tooltip: {
                trigger: 'item'
            },
            legend: {
                top: '5%',
                left: 'center'
            },
            series: [
                {
                    name: 'Access From',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    itemStyle: {
                        borderRadius: 10,
                        borderColor: '#fff',
                        borderWidth: 2
                    },
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 40,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: 
                    [
                            { value: 1048, name: 'Search Engine' },
                            { value: 735, name: 'Direct' },
                            { value: 580, name: 'Email' },
                            { value: 484, name: 'Union Ads' },
                            { value: 300, name: 'Video Ads' }
                    ]
                    
                }
            ]
        };


        if (option && typeof option === 'object') {
            myChart.setOption(option);
        }

        window.addEventListener('resize', myChart.resize);
    </script>
}